<div class="row">
  <div class="col-sm-11">
    <app-autocomplete
      placeholder="Select category"
      (valueChange)="selectCategory($event)"
      [options]="categories()"
    />
    <ng-container *ngIf="selectedCategory()?.categories as subCategories">
      <app-autocomplete
        *ngIf="subCategories.length"
        placeholder="Select subcategory"
        (valueChange)="selectSubCategory($event)"
        [options]="subCategories"
      />
    </ng-container>
    <select #difficulty id="difficultySelect">
      <option>Select difficulty</option>
      <option>Easy</option>
      <option>Medium</option>
      <option>Hard</option>
    </select>
    <button class="primary" id="createBtn" (click)="createQuiz(difficulty.value)">Create</button>
  </div>
</div>
<div class="row">
  <app-quiz
    [changeQuestion]="canChangeQuestion ? changeQuestion.bind(this) : undefined"
    [questions]="questions"
  ></app-quiz>
</div>
